### Data Engineering Capstone Project

#### Project Summary
This project was made using Spark in order to make a datawarehouse in parquet file format that reflects inmigration data in US airports. It uses a star schema with a facts table an dimensional tables.

In [1]:
from pyspark.sql import SparkSession, SQLContext, GroupedData
from pyspark.sql.functions import *

from Scripts.datafromsource import Datafromsource
from Scripts.clean import Clean
from Scripts.transformer import Transformer
from Scripts.schema import Schema
from Scripts.validator import Validator

In [2]:
#Build spark session
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11").enableHiveSupport().getOrCreate()

## Data Configurations

In [3]:
paths = {
    "demographics" : "./data/us-cities-demographics.csv",
    "airports" :  "./data/airport-codes_csv.csv",
    "sas_data" : "./data/sas_data",
    "us_states" : "./data/us_states.csv",
    "cities" : "./data/cities.csv",
    "countries" : "./data/countries.csv",
    "visa" : "./data/visa.csv",
    "inmigrant_airports" : "./data/airports.csv",
    "mode" : "./data/mode.csv",
    "airlines" : "./data/airlines.dat"
}

### Step 1: Scope the Project and Gather Data

### Scope
This project will pull data from all sources and create fact and dimension tables to show movement of immigration in US.

### Data Description:
*U.S. City Demographic Data (demog)*: comes from OpenSoft and includes data by city, state, age, population, veteran status and race.

*I94 Immigration Data (sas_data)*: comes from the US National Tourism and Trade Office and includes details on incoming immigrants and their ports of entry.

*Airport Code Table (airport)*: comes from datahub.io and includes airport codes and corresponding cities.

*Countries (countries)*: comes from I94_SAS_Labels_Descriptions.SAS

*Visas (visa)*: comes from I94_SAS_Labels_Descriptions.SAS

*Inmigrant Entry Mode (mode)*: comes from I94_SAS_Labels_Descriptions.SAS

Airlines: comes from https://raw.githubusercontent.com/jpatokal/openflights/master/data/airlines.dat

In [4]:
# Reading  in the data here
source = Datafromsource(spark, paths)

demog = source.get_cities_demographics_raw()
airport=source.get_airports_raw()
sas_data = source.get_inmigration_raw()
countries = source.get_countries_raw()
visa = source.get_visa_raw()
mode = source.get_mode_raw()
airlines = source.get_airlines()

#### Checking data in original raw format

In [5]:
demog.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            City|         State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

In [6]:
airport.show()

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|     US-AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|     US-AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AR|       closed|Newport Hospital ...|         237|       NA|         US|     US-AR|     Newport|    null|     null|      null| -91.254898, 35.6087|
| 00AS|small_airport|      Fulton Airport|        1100|       NA|         US|     US-OK|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|
| 00AZ|small_airport|      Cordes Airport|        3810|       NA|         US|     US-AZ|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|
| 00CA|small_airport|Goldstone /Gts/ A...|        3038|       NA|         US|     US-CA|     Barstow|    00CA|     null|      00CA|-116.888000488, 3...|
| 00CL|small_airport| Williams Ag Airport|          87|       NA|         US|     US-CA|       Biggs|    00CL|     null|      00CL|-121.763427, 39.4...|
| 00CN|     heliport|Kitchen Creek Hel...|        3350|       NA|         US|     US-CA| Pine Valley|    00CN|     null|      00CN|-116.4597417, 32....|
| 00CO|       closed|          Cass Field|        4830|       NA|         US|     US-CO|  Briggsdale|    null|     null|      null|-104.344002, 40.6...|
| 00FA|small_airport| Grass Patch Airport|          53|       NA|         US|     US-FL|    Bushnell|    00FA|     null|      00FA|-82.2190017700195...|
| 00FD|     heliport|  Ringhaver Heliport|          25|       NA|         US|     US-FL|   Riverview|    00FD|     null|      00FD|-82.3453979492187...|
| 00FL|small_airport|   River Oak Airport|          35|       NA|         US|     US-FL|  Okeechobee|    00FL|     null|      00FL|-80.9692001342773...|
| 00GA|small_airport|    Lt World Airport|         700|       NA|         US|     US-GA|    Lithonia|    00GA|     null|      00GA|-84.0682983398437...|
| 00GE|     heliport|    Caffrey Heliport|         957|       NA|         US|     US-GA|       Hiram|    00GE|     null|      00GE|-84.7339019775390...|
| 00HI|     heliport|  Kaupulehu Heliport|          43|       NA|         US|     US-HI| Kailua/Kona|    00HI|     null|      00HI|-155.980233, 19.8...|
| 00ID|small_airport|Delta Shores Airport|        2064|       NA|         US|     US-ID|  Clark Fork|    00ID|     null|      00ID|-116.213996887207...|
| 00IG|small_airport|       Goltl Airport|        3359|       NA|         US|     US-KS|    McDonald|    00IG|     null|      00IG|-101.395994, 39.7...|
| 00II|     heliport|Bailey Generation...|         600|       NA|         US|     US-IN|  Chesterton|    00II|     null|      00II|-87.122802734375,...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 20 rows

In [7]:
sas_data.show()

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
|5748522.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20579.0|  57.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1959.0|10292016|     M|  null|     NZ|9.498180283E10|00010|      B2|
|5748523.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  66.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1950.0|10292016|     F|  null|     NZ|9.497968993E10|00010|      B2|
|5748524.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  41.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1975.0|10292016|     F|  null|     NZ|9.497974673E10|00010|      B2|
|5748525.0|2016.0|   4.0| 245.0| 464.0|    HOU|20574.0|    1.0|     FL|20581.0|  27.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1989.0|10292016|     M|  null|     NZ|9.497324663E10|00028|      B2|
|5748526.0|2016.0|   4.0| 245.0| 464.0|    LOS|20574.0|    1.0|     CA|20581.0|  26.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1990.0|10292016|     F|  null|     NZ|9.501354793E10|00002|      B2|
|5748527.0|2016.0|   4.0| 245.0| 504.0|    NEW|20574.0|    1.0|     MA|20576.0|  44.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1972.0|10292016|     M|  null|     UA|9.493828593E10|01215|      B2|
|5748528.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|   null|20575.0|  39.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1977.0|10292016|     M|  null|     CM|9.501810463E10|00472|      B2|
|5748529.0|2016.0|   4.0| 245.0| 504.0|    WAS|20574.0|    1.0|     VA|20596.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10292016|     M|  null|     CM|9.492489983E10|00488|      B2|
|5748530.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  56.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1960.0|10292016|     F|  null|     CM|9.492648103E10|00302|      B2|
|5748531.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10282016|     M|  null|     CM|9.492629303E10|00302|      B2|
|5748532.0|2016.0|   4.0| 245.0| 504.0|    MIA|20574.0|    1.0|     FL|20581.0|  53.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1963.0|10292016|     F|  null|     CM|9.500640513E10|00430|      B2|
|5748534.0|2016.0|   4.0| 245.0| 528.0|    SFR|20574.0|    1.0|     CA|   null|  84.0|    2.0|  1.0|20160430|     HNK| null|      G|   null|   null|   null| 1932.0|10282016|     F|  null|     CX|9.492476223E10|00872|      B2|
|5748876.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  43.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1973.0|10292016|     M|  null|     UA|9.499463063E10|05574|      B1|
|5748877.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  30.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1986.0|10292016|     F|  null|     UA|9.499447663E10|05574|      B1|
|5748881.0|2016.0|   4.0| 245.0| 582.0|    LOS|20574.0|    1.0|     CA|20575.0|  34.0|    2.0|  1.0|20160430|     SHG| null|      G|      O|   null|      M| 1982.0|10292016|     M|  null|     AM|9.496770903E10|00646|      B2|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

In [8]:
countries.show()

+----+--------------------+
|code|        country_name|
+----+--------------------+
| 582|MEXICO Air Sea, a...|
| 236|         AFGHANISTAN|
| 101|             ALBANIA|
| 316|             ALGERIA|
| 102|             ANDORRA|
| 324|              ANGOLA|
| 529|            ANGUILLA|
| 518|     ANTIGUA-BARBUDA|
| 687|           ARGENTINA|
| 151|             ARMENIA|
| 532|               ARUBA|
| 438|           AUSTRALIA|
| 103|             AUSTRIA|
| 152|          AZERBAIJAN|
| 512|             BAHAMAS|
| 298|             BAHRAIN|
| 274|          BANGLADESH|
| 513|            BARBADOS|
| 104|             BELGIUM|
| 581|              BELIZE|
+----+--------------------+
only showing top 20 rows

In [9]:

visa.show()

+---------+--------+
|visa_code|    visa|
+---------+--------+
|        1|Business|
|        2|Pleasure|
|        3| Student|
+---------+--------+

In [10]:
mode.show()

+--------+----------------+
|cod_mode|       mode_name|
+--------+----------------+
|     1.0|             Air|
|     2.0|             Sea|
|     3.0|            Land|
|     9.0|Not reportedmode|
+--------+----------------+

In [11]:
airlines.show()

+----------+--------------------+-----+----+----+--------------+--------------+------+
|Airline_ID|                Name|Alias|IATA|ICAO|      Callsign|       Country|Active|
+----------+--------------------+-----+----+----+--------------+--------------+------+
|        -1|             Unknown|   \N|   -| N/A|            \N|            \N|     Y|
|         1|      Private flight|   \N|   -| N/A|          null|          null|     Y|
|         2|         135 Airways|   \N|null| GNL|       GENERAL| United States|     N|
|         3|       1Time Airline|   \N|  1T| RNX|       NEXTIME|  South Africa|     Y|
|         4|2 Sqn No 1 Elemen...|   \N|null| WYT|          null|United Kingdom|     N|
|         5|     213 Flight Unit|   \N|null| TFU|          null|        Russia|     N|
|         6|223 Flight Unit S...|   \N|null| CHD|CHKALOVSK-AVIA|        Russia|     N|
|         7|   224th Flight Unit|   \N|null| TTF|    CARGO UNIT|        Russia|     N|
|         8|         247 Jet Ltd|   \N|null| TWF|  CLOUD RUNNER|United Kingdom|     N|
|         9|         3D Aviation|   \N|null| SEC|       SECUREX| United States|     N|
|        10|         40-Mile Air|   \N|  Q5| MLA|      MILE-AIR| United States|     Y|
|        11|              4D Air|   \N|null| QRT|       QUARTET|      Thailand|     N|
|        12|611897 Alberta Li...|   \N|null| THD|         DONUT|        Canada|     N|
|        13|    Ansett Australia|   \N|  AN| AAA|        ANSETT|     Australia|     Y|
|        14|Abacus International|   \N|  1B|null|          null|     Singapore|     Y|
|        15|     Abelag Aviation|   \N|  W9| AAB|           ABG|       Belgium|     N|
|        16|      Army Air Corps|   \N|null| AAC|       ARMYAIR|United Kingdom|     N|
|        17|Aero Aviation Cen...|   \N|null| AAD|       SUNRISE|        Canada|     N|
|        18|Aero Servicios Ej...|   \N|null| SII|        ASEISA|        Mexico|     N|
|        19|         Aero Biniza|   \N|null| BZS|        BINIZA|        Mexico|     N|
+----------+--------------------+-----+----+----+--------------+--------------+------+
only showing top 20 rows

### Step 2: Explore and Assess the Data

#### Cleaning Steps
Main steps are:

* Clean demographics dataset, filling null values withn 0 and grouping by city and state and pivot Race in diferent columns
* Clean airports dataset filtering only US airports and discarting anything else that is not an airport. Extract iso regions and cast as float elevation feet.
* Clean the inmigrantion dataset. Rename columns with understandable names. Put correct formats in dates and select only important columns
* Clean airlines dataset and filter only airlines with IATA code.

In [12]:
demographic_clean = Clean.get_cities_demographics(demog)
demographic_clean.show()

+---------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+---------------------------------+-----+-------------------------+------------------+------+
|           City|         State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|American Indian and Alaska Native|Asian|Black or African-American|Hispanic or Latino| White|
+---------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+---------------------------------+-----+-------------------------+------------------+------+
|         Skokie|      Illinois|      43.4|          31382|            33437|           64819|              1066|       27424|                  2.78|        IL|                                0|20272|                     4937|              6590| 40642|
|      Charlotte|North Carolina|      34.3|         396646|           430475|          827121|             36046|      128897|                  2.52|        NC|                             8746|55399|                   301568|            113731|446795|
|     Manchester| New Hampshire|      37.3|          54845|            55378|          110223|              5473|       14506|                   2.4|        NH|                              558| 4304|                     6896|             11962|100108|
|          Chico|    California|      29.9|          46168|            44168|           90336|              4519|        8425|                   2.5|        CA|                             2766| 6101|                     3164|             15578| 80467|
|  Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|                             1084| 8841|                    21330|             25924| 37756|
|      Poinciana|       Florida|      34.2|          38142|            35801|           73943|              2933|       14349|                  3.93|        FL|                             1593| 1409|                    24750|             37382| 45622|
|     Lauderhill|       Florida|      35.7|          32813|            38761|           71574|              1965|       25471|                  3.02|        FL|                             1186| 2662|                    56948|              6089| 10788|
|        Hampton|      Virginia|      35.5|          66214|            70240|          136454|             19638|        6204|                  2.48|        VA|                             2534| 4561|                    70303|              7513| 61753|
|        Shawnee|        Kansas|      40.1|          32313|            32745|           65058|              3575|        4136|                  2.64|        KS|                              485| 3093|                     7296|              4864| 55883|
|    Bolingbrook|      Illinois|      33.7|          36295|            35801|           72096|              2951|       15212|                  3.42|        IL|                              323| 9788|                    12671|             16904| 40458|
|         Fresno|    California|      30.0|         256130|           263942|          520072|             18410|      103453|                  3.12|        CA|                            11380|75318|                    46072|            256145|325651|
|       Brockton| Massachusetts|      35.2|          46273|            49041|           95314|              3036|       27313|                  2.88|        MA|                              881| 2528|                    43646|             10890| 40110|
|Deerfield Beach|       Florida|      41.4|          37155|            42614|           79769|              3882|       23642|                  2.46|        FL|                              698| 1428|                    25344|             12729| 53037|
|      New Haven|   Connecticut|      29.9|          63765|            66545|          130310|              2567|       25871|                  2.48|        CT|                             2205| 7966|                    43356|             43563| 56251|
|    New Orleans|     Louisiana|      35.9|         185736|           203881|          389617|             17388|       21679|                  2.41|        LA|                             2496|13349|                   234645|             21850|140314|
|     Lewisville|         Texas|      31.6|          52776|            52032|          104808|              4211|       24865|                  2.78|        TX|                             1371|12412|                    16948|             31757| 70278|
| Corpus Christi|         Texas|      35.0|         160488|           163594|          324082|             25078|       30834|                  2.69|        TX|                             2972| 9051|                    14978|            200737|292663|
|      Knoxville|     Tennessee|      33.1|          89978|            95334|          185312|             10897|       10285|                  2.21|        TN|                             2304| 4717|                    35049|              8640|145055|
|  Santa Barbara|    California|      37.8|          45068|            46784|           91852|              4518|       19441|                  2.51|        CA|                             1560| 4964|                     2013|             31102| 73659|
|   Casas Adobes|       Arizona|      44.8|          30890|            34375|           65265|              6601|        7024|                  2.24|        AZ|                             2047| 3009|                     1854|             13609| 58956|
+---------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+---------------------------------+-----+-------------------------+------------------+------+
only showing top 20 rows

In [13]:

airport_clean = Clean.get_airports(airport)
airport_clean.show()

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
| 00AA|small_airport|Aero B Ranch Airport|      3435.0|       NA|         US|        KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|       450.0|       NA|         US|        AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|       820.0|       NA|         US|        AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AS|small_airport|      Fulton Airport|      1100.0|       NA|         US|        OK|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|
| 00AZ|small_airport|      Cordes Airport|      3810.0|       NA|         US|        AZ|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|
| 00CA|small_airport|Goldstone /Gts/ A...|      3038.0|       NA|         US|        CA|     Barstow|    00CA|     null|      00CA|-116.888000488, 3...|
| 00CL|small_airport| Williams Ag Airport|        87.0|       NA|         US|        CA|       Biggs|    00CL|     null|      00CL|-121.763427, 39.4...|
| 00FA|small_airport| Grass Patch Airport|        53.0|       NA|         US|        FL|    Bushnell|    00FA|     null|      00FA|-82.2190017700195...|
| 00FL|small_airport|   River Oak Airport|        35.0|       NA|         US|        FL|  Okeechobee|    00FL|     null|      00FL|-80.9692001342773...|
| 00GA|small_airport|    Lt World Airport|       700.0|       NA|         US|        GA|    Lithonia|    00GA|     null|      00GA|-84.0682983398437...|
| 00ID|small_airport|Delta Shores Airport|      2064.0|       NA|         US|        ID|  Clark Fork|    00ID|     null|      00ID|-116.213996887207...|
| 00IG|small_airport|       Goltl Airport|      3359.0|       NA|         US|        KS|    McDonald|    00IG|     null|      00IG|-101.395994, 39.7...|
| 00IL|small_airport|      Hammer Airport|       840.0|       NA|         US|        IL|        Polo|    00IL|     null|      00IL|-89.5604019165039...|
| 00IS|small_airport|Hayenga's Cant Fi...|       820.0|       NA|         US|        IL|       Kings|    00IS|     null|      00IS|-89.1229019165039...|
| 00KS|small_airport| Hayden Farm Airport|      1100.0|       NA|         US|        KS|     Gardner|    00KS|     null|      00KS|-94.9304962158203...|
| 00KY|small_airport|Robbins Roost Air...|      1265.0|       NA|         US|        KY|    Stanford|    00KY|     null|      00KY|-84.6196975708007...|
| 00LS|small_airport|     Lejeune Airport|        12.0|       NA|         US|        LA|   Esterwood|    00LS|     null|      00LS|-92.4293975830078...|
| 00MD|small_airport|        Slater Field|        45.0|       NA|         US|        MD|Federalsburg|    00MD|     null|      00MD|-75.7537994384765...|
| 00MN|small_airport|Battle Lake Munic...|      1365.0|       NA|         US|        MN| Battle Lake|    00MN|     null|      00MN|-95.7003021240234...|
| 00MO|small_airport|Cooper Flying Ser...|       970.0|       NA|         US|        MO|        Alba|    00MO|     null|      00MO|-94.412399291992,...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 20 rows

In [14]:
inmigrant_clean = Clean.get_inmigration(sas_data)
inmigrant_clean.show()

+-------+--------+---------+--------+-------+--------+------+-------+--------------+-----+--------+--------+--------+------------------+---------------+----+-----+---------+---+-------+------------+--------------+
| cic_id|cod_port|cod_state|visapost|matflag| dtaddto|gender|airline|        admnum|fltno|visatype|cod_visa|cod_mode|cod_country_origin|cod_country_cit|year|month|bird_year|age|counter|arrival_date|departure_date|
+-------+--------+---------+--------+-------+--------+------+-------+--------------+-----+--------+--------+--------+------------------+---------------+----+-----+---------+---+-------+------------+--------------+
|5748517|     LOS|       CA|     SYD|      M|10292016|     F|     QF|9.495387003E10|00011|      B1|       1|       1|               438|            245|2016|    4|     1976| 40|      1|  2016-04-30|    2016-05-08|
|5748518|     LOS|       NV|     SYD|      M|10292016|     F|     VA|9.495562283E10|00007|      B1|       1|       1|               438|            245|2016|    4|     1984| 32|      1|  2016-04-30|    2016-05-17|
|5748519|     LOS|       WA|     SYD|      M|10292016|     M|     DL|9.495640653E10|00040|      B1|       1|       1|               438|            245|2016|    4|     1987| 29|      1|  2016-04-30|    2016-05-08|
|5748520|     LOS|       WA|     SYD|      M|10292016|     F|     DL|9.495645143E10|00040|      B1|       1|       1|               438|            245|2016|    4|     1987| 29|      1|  2016-04-30|    2016-05-14|
|5748521|     LOS|       WA|     SYD|      M|10292016|     M|     DL|9.495638813E10|00040|      B1|       1|       1|               438|            245|2016|    4|     1988| 28|      1|  2016-04-30|    2016-05-14|
|5748522|     HHW|       HI|     ACK|      M|10292016|     M|     NZ|9.498180283E10|00010|      B2|       2|       1|               464|            245|2016|    4|     1959| 57|      1|  2016-04-30|    2016-05-05|
|5748523|     HHW|       HI|     ACK|      M|10292016|     F|     NZ|9.497968993E10|00010|      B2|       2|       1|               464|            245|2016|    4|     1950| 66|      1|  2016-04-30|    2016-05-12|
|5748524|     HHW|       HI|     ACK|      M|10292016|     F|     NZ|9.497974673E10|00010|      B2|       2|       1|               464|            245|2016|    4|     1975| 41|      1|  2016-04-30|    2016-05-12|
|5748525|     HOU|       FL|     ACK|      M|10292016|     M|     NZ|9.497324663E10|00028|      B2|       2|       1|               464|            245|2016|    4|     1989| 27|      1|  2016-04-30|    2016-05-07|
|5748526|     LOS|       CA|     ACK|      M|10292016|     F|     NZ|9.501354793E10|00002|      B2|       2|       1|               464|            245|2016|    4|     1990| 26|      1|  2016-04-30|    2016-05-07|
|5748527|     NEW|       MA|     GUZ|      M|10292016|     M|     UA|9.493828593E10|01215|      B2|       2|       1|               504|            245|2016|    4|     1972| 44|      1|  2016-04-30|    2016-05-02|
|5748528|     LOS|     null|     GUZ|      M|10292016|     M|     CM|9.501810463E10|00472|      B2|       2|       1|               504|            245|2016|    4|     1977| 39|      1|  2016-04-30|    2016-05-01|
|5748529|     WAS|       VA|     PNM|      M|10292016|     M|     CM|9.492489983E10|00488|      B2|       2|       1|               504|            245|2016|    4|     1978| 38|      1|  2016-04-30|    2016-05-22|
|5748530|     LOS|       CA|     PNM|      M|10292016|     F|     CM|9.492648103E10|00302|      B2|       2|       1|               504|            245|2016|    4|     1960| 56|      1|  2016-04-30|    2016-05-03|
|5748531|     LOS|       CA|     PNM|      M|10282016|     M|     CM|9.492629303E10|00302|      B2|       2|       1|               504|            245|2016|    4|     1978| 38|      1|  2016-04-30|    2016-05-03|
|5748532|     MIA|       FL|     PNM|      M|10292016|     F|     CM|9.500640513E10|00430|      B2|       2|       1|               504|            245|2016|    4|     1963| 53|      1|  2016-04-30|    2016-05-07|
|5748534|     SFR|       CA|     HNK|   null|10282016|     F|     CX|9.492476223E10|00872|      B2|       2|       1|               528|            245|2016|    4|     1932| 84|      1|  2016-04-30|          null|
|5748876|     HOU|       TX|     GUZ|      M|10292016|     M|     UA|9.499463063E10|05574|      B1|       1|       1|               582|            245|2016|    4|     1973| 43|      1|  2016-04-30|    2016-05-09|
|5748877|     HOU|       TX|     GUZ|      M|10292016|     F|     UA|9.499447663E10|05574|      B1|       1|       1|               582|            245|2016|    4|     1986| 30|      1|  2016-04-30|    2016-05-09|
|5748881|     LOS|       CA|     SHG|      M|10292016|     M|     AM|9.496770903E10|00646|      B2|       2|       1|               582|            245|2016|    4|     1982| 34|      1|  2016-04-30|    2016-05-01|
+-------+--------+---------+--------+-------+--------+------+-------+--------------+-----+--------+--------+--------+------------------+---------------+----+-----+---------+---+-------+------------+--------------+
only showing top 20 rows

In [15]:
countries_clean = Clean.get_countries(countries)
countries_clean.show()

+-----------+--------------------+
|cod_country|        country_name|
+-----------+--------------------+
|        582|MEXICO Air Sea, a...|
|        236|         AFGHANISTAN|
|        101|             ALBANIA|
|        316|             ALGERIA|
|        102|             ANDORRA|
|        324|              ANGOLA|
|        529|            ANGUILLA|
|        518|     ANTIGUA-BARBUDA|
|        687|           ARGENTINA|
|        151|             ARMENIA|
|        532|               ARUBA|
|        438|           AUSTRALIA|
|        103|             AUSTRIA|
|        152|          AZERBAIJAN|
|        512|             BAHAMAS|
|        298|             BAHRAIN|
|        274|          BANGLADESH|
|        513|            BARBADOS|
|        104|             BELGIUM|
|        581|              BELIZE|
+-----------+--------------------+
only showing top 20 rows

In [16]:
visa_clean = Clean.get_visa(visa)
visa_clean.show()

+--------+--------+
|cod_visa|    visa|
+--------+--------+
|       1|Business|
|       2|Pleasure|
|       3| Student|
+--------+--------+

In [17]:
mode_clean = Clean.get_mode(mode)
mode_clean.show()

+--------+----------------+
|cod_mode|       mode_name|
+--------+----------------+
|       1|             Air|
|       2|             Sea|
|       3|            Land|
|       9|Not reportedmode|
+--------+----------------+

In [18]:

airlines_clean = Clean.get_airlines(airlines)
airlines_clean.show()

+----------+--------------------+----+----+------------+-----------------+------+
|Airline_ID|                Name|IATA|ICAO|    Callsign|          Country|Active|
+----------+--------------------+----+----+------------+-----------------+------+
|         3|       1Time Airline|  1T| RNX|     NEXTIME|     South Africa|     Y|
|        10|         40-Mile Air|  Q5| MLA|    MILE-AIR|    United States|     Y|
|        13|    Ansett Australia|  AN| AAA|      ANSETT|        Australia|     Y|
|        14|Abacus International|  1B|null|        null|        Singapore|     Y|
|        15|     Abelag Aviation|  W9| AAB|         ABG|          Belgium|     N|
|        21|          Aigle Azur|  ZI| AAF|  AIGLE AZUR|           France|     Y|
|        22|      Aloha Airlines|  AQ| AAH|       ALOHA|    United States|     Y|
|        24|   American Airlines|  AA| AAL|    AMERICAN|    United States|     Y|
|        28|     Asiana Airlines|  OZ| AAR|      ASIANA|Republic of Korea|     Y|
|        29|     Askari Aviation|  4K| AAS|      AL-AAS|         Pakistan|     Y|
|        32|   Afriqiyah Airways|  8U| AAW|   AFRIQIYAH|            Libya|     Y|
|        33|Afrinat Internati...|  Q9| AFU|        null|           Gambia|     N|
|        35|       Allegiant Air|  G4| AAY|   ALLEGIANT|    United States|     Y|
|        39|            Aban Air|  K5| ABE|        ABAN|             Iran|     n|
|        42|ABSA - Aerolinhas...|  M3| TUS|  ABSA Cargo|           Brazil|     Y|
|        48|          Antrak Air|  04| ABV|      ANTRAK|            Ghana|     N|
|        49|    Airborne Express|  GB| ABX|        ABEX|    United States|     N|
|        50|             ABX Air|  GB| ABX|        ABEX|    United States|     N|
|        55|     Astral Aviation|  8V| ACP|ASTRAL CARGO|            Kenya|     Y|
|        60|Aero Asia Interna...|  E4| RSO|   AERO ASIA|         Pakistan|     N|
+----------+--------------------+----+----+------------+-----------------+------+
only showing top 20 rows

### Step 3: Defination the Data Model
The following data model is designed in the following way 
#### Star Schema
#### Dimension Tables:

* dim_demographics
    * State, state_code, Total_Population, Male_Population, Female_Population, American_Indian_and_Alaska_Native, Asian, Black_or_African-American,   Hispanic_or_Latino, White, Male_Population_Ratio, Female_Population_Ratio, American_Indian_and_Alaska_Native_Ratio, Asian_Ratio, Black_or_African-American_Ratio, Hispanic_or_Latino_Ratio, White_Ratio.
* dim_airports
    * ident, type, name, elevation_ft, continent, iso_country, iso_region, municipality, gps_code, iata_code, local_code, coordinates.
* dim_airlines
    * Airline_ID, Name, IATA, ICAO, Callsign, Country, Active.
* dim_countries:
    * cod_country, country_name
* dim_get_visa:
    * cod_visa, visa.
* dim_get_mode:
    * cod_mode, mode_name.

#### Fact Table:

* immigration_fact_table
    * cic_id, cod_port, cod_state, visapost, matflag, dtaddto, gender, airline, admnum, fltno, visatype, cod_visa, cod_mode, cod_country_origin, cod_country_cit, year, month, bird_year, age, counter, arrival_date, departure_date, arrival_year, arrival_month, arrival_day.

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

* Tranform data:
     * Transform demographics dataset grouping by state an calculate all the totals and ratios for every race in every state.
     * Transform inmigration dataset on order to get arrival date in different columns (year, month, day) for partitioning the dataset.   
* Generate Model (Star Schema):
    * Create all dimensions in parquet.
    * Create fact table in parquet particioned by year, month, day of th arrival date.
    * Insert in fact table only items with dimension keys right. For integrity and consistency.

In [20]:
demog_transformer = Transformer.transform_demographics(demographic_clean)
demog_transformer.show()

+----------+--------------------+----------------+---------------+-----------------+---------------------------------+-------+-------------------------+------------------+--------+---------------------+-----------------------+---------------------------------------+-----------+-------------------------------+------------------------+-----------+
|State_code|               State|Total_Population|Male_Population|Female_Population|American_Indian_and_Alaska_Native|  Asian|Black_or_African-American|Hispanic_or_Latino|   White|Male_Population_Ratio|Female_Population_Ratio|American_Indian_and_Alaska_Native_Ratio|Asian_Ratio|Black_or_African-American_Ratio|Hispanic_or_Latino_Ratio|White_Ratio|
+----------+--------------------+----------------+---------------+-----------------+---------------------------------+-------+-------------------------+------------------+--------+---------------------+-----------------------+---------------------------------------+-----------+-------------------------------+------------------------+-----------+
|        MT|             Montana|        181294.0|        87707.0|          93587.0|                             9684|   4165|                     3349|             10000|  169026|                 0.48|                   0.52|                                   0.05|       0.02|                           0.02|                    0.06|       0.93|
|        NC|      North Carolina|       3060199.0|      1466105.0|        1594094.0|                            35209| 178740|                  1029446|            354409| 1790136|                 0.48|                   0.52|                                   0.01|       0.06|                           0.34|                    0.12|       0.58|
|        MD|            Maryland|       1312129.0|       627951.0|         684178.0|                            16155| 128839|                   573768|            138644|  594522|                 0.48|                   0.52|                                   0.01|        0.1|                           0.44|                    0.11|       0.45|
|        CO|            Colorado|       2935669.0|      1454619.0|        1481050.0|                            62613| 148790|                   208043|            703722| 2463916|                  0.5|                    0.5|                                   0.02|       0.05|                           0.07|                    0.24|       0.84|
|        CT|         Connecticut|        885581.0|       432157.0|         453424.0|                            10729|  48311|                   231822|            309992|  505674|                 0.49|                   0.51|                                   0.01|       0.05|                           0.26|                    0.35|       0.57|
|        IL|            Illinois|       4562312.0|      2218541.0|        2343771.0|                            35097| 374589|                  1130574|           1215659| 2620068|                 0.49|                   0.51|                                   0.01|       0.08|                           0.25|                    0.27|       0.57|
|        NJ|          New Jersey|       1428908.0|       705736.0|         723172.0|                            11350| 116844|                   452202|            600437|  615083|                 0.49|                   0.51|                                   0.01|       0.08|                           0.32|                    0.42|       0.43|
|        DE|            Delaware|         71957.0|        32680.0|          39277.0|                              414|   1193|                    44182|              5516|   23743|                 0.45|                   0.55|                                   0.01|       0.02|                           0.61|                    0.08|       0.33|
|        DC|District of Columbia|        672228.0|       319705.0|         352523.0|                             6130|  35072|                   328786|             71129|  285402|                 0.48|                   0.52|                                   0.01|       0.05|                           0.49|                    0.11|       0.42|
|        LA|           Louisiana|       1300595.0|       626998.0|         673597.0|                             8263|  38739|                   602377|             87133|  654578|                 0.48|                   0.52|                                   0.01|       0.03|                           0.46|                    0.07|        0.5|
|        TN|           Tennessee|       2152560.0|      1031836.0|        1120724.0|                            17638|  73024|                   810758|            167962| 1253142|                 0.48|                   0.52|                                   0.01|       0.03|                           0.38|                    0.08|       0.58|
|        AR|            Arkansas|        589879.0|       286479.0|         303400.0|                             9381|  22062|                   149608|             77813|  384733|                 0.49|                   0.51|                                   0.02|       0.04|                           0.25|                    0.13|       0.65|
|        AK|              Alaska|        298695.0|       152945.0|         145750.0|                            36339|  36825|                    23107|             27261|  212696|                 0.51|                   0.49|                                   0.12|       0.12|                           0.08|                    0.09|       0.71|
|        CA|          California|      2.482246E7|    1.2278281E7|      1.2544179E7|                           401386|4543730|                  2047009|           9856464|14905129|                 0.49|                   0.51|                                   0.02|       0.18|                           0.08|                     0.4|        0.6|
|        NM|          New Mexico|        839042.0|       409010.0|         430032.0|                            42428|  32658|                    35853|            417026|  651564|                 0.49|                   0.51|                                   0.05|       0.04|                           0.04|                     0.5|       0.78|
|        UT|                Utah|       1050591.0|       530818.0|         519773.0|                            18746|  48801|                    21893|            201695|  889798|                 0.51|                   0.49|                                   0.02|       0.05|                           0.02|                    0.19|       0.85|
|        MI|            Michigan|       2203460.0|      1056446.0|        1147014.0|                            27962| 125172|                   853877|            149932| 1214721|                 0.48|                   0.52|                                   0.01|       0.06|                           0.39|                    0.07|       0.55|
|        NY|            New York|       9815626.0|      4692055.0|        5123571.0|                           112816|1373373|                  2605008|           2730185| 4555686|                 0.48|                   0.52|                                   0.01|       0.14|                           0.27|                    0.28|       0.46|
|        NH|       New Hampshire|        198198.0|        97771.0|         100427.0|                             1213|  13989|                    11043|             22473|  174085|                 0.49|                   0.51|                                   0.01|       0.07|                           0.06|                    0.11|       0.88|
|        WA|          Washington|       2500107.0|      1245605.0|        1254502.0|                            60248| 346995|                   187584|            324070| 1913484|                  0.5|                    0.5|                                   0.02|       0.14|                           0.08|                    0.13|       0.77|
+----------+--------------------+----------------+---------------+-----------------+---------------------------------+-------+-------------------------+------------------+--------+---------------------+-----------------------+---------------------------------------+-----------+-------------------------------+------------------------+-----------+
only showing top 20 rows

In [21]:
inmigrant_transformer = Transformer.transform_inmigrants(inmigrant_clean)
inmigrant_transformer.show()

+-------+--------+---------+--------+-------+--------+------+-------+--------------+-----+--------+--------+--------+------------------+---------------+----+-----+---------+---+-------+------------+--------------+------------+-------------+-----------+
| cic_id|cod_port|cod_state|visapost|matflag| dtaddto|gender|airline|        admnum|fltno|visatype|cod_visa|cod_mode|cod_country_origin|cod_country_cit|year|month|bird_year|age|counter|arrival_date|departure_date|arrival_year|arrival_month|arrival_day|
+-------+--------+---------+--------+-------+--------+------+-------+--------------+-----+--------+--------+--------+------------------+---------------+----+-----+---------+---+-------+------------+--------------+------------+-------------+-----------+
|5748517|     LOS|       CA|     SYD|      M|10292016|     F|     QF|9.495387003E10|00011|      B1|       1|       1|               438|            245|2016|    4|     1976| 40|      1|  2016-04-30|    2016-05-08|        2016|           04|         30|
|5748518|     LOS|       NV|     SYD|      M|10292016|     F|     VA|9.495562283E10|00007|      B1|       1|       1|               438|            245|2016|    4|     1984| 32|      1|  2016-04-30|    2016-05-17|        2016|           04|         30|
|5748519|     LOS|       WA|     SYD|      M|10292016|     M|     DL|9.495640653E10|00040|      B1|       1|       1|               438|            245|2016|    4|     1987| 29|      1|  2016-04-30|    2016-05-08|        2016|           04|         30|
|5748520|     LOS|       WA|     SYD|      M|10292016|     F|     DL|9.495645143E10|00040|      B1|       1|       1|               438|            245|2016|    4|     1987| 29|      1|  2016-04-30|    2016-05-14|        2016|           04|         30|
|5748521|     LOS|       WA|     SYD|      M|10292016|     M|     DL|9.495638813E10|00040|      B1|       1|       1|               438|            245|2016|    4|     1988| 28|      1|  2016-04-30|    2016-05-14|        2016|           04|         30|
|5748522|     HHW|       HI|     ACK|      M|10292016|     M|     NZ|9.498180283E10|00010|      B2|       2|       1|               464|            245|2016|    4|     1959| 57|      1|  2016-04-30|    2016-05-05|        2016|           04|         30|
|5748523|     HHW|       HI|     ACK|      M|10292016|     F|     NZ|9.497968993E10|00010|      B2|       2|       1|               464|            245|2016|    4|     1950| 66|      1|  2016-04-30|    2016-05-12|        2016|           04|         30|
|5748524|     HHW|       HI|     ACK|      M|10292016|     F|     NZ|9.497974673E10|00010|      B2|       2|       1|               464|            245|2016|    4|     1975| 41|      1|  2016-04-30|    2016-05-12|        2016|           04|         30|
|5748525|     HOU|       FL|     ACK|      M|10292016|     M|     NZ|9.497324663E10|00028|      B2|       2|       1|               464|            245|2016|    4|     1989| 27|      1|  2016-04-30|    2016-05-07|        2016|           04|         30|
|5748526|     LOS|       CA|     ACK|      M|10292016|     F|     NZ|9.501354793E10|00002|      B2|       2|       1|               464|            245|2016|    4|     1990| 26|      1|  2016-04-30|    2016-05-07|        2016|           04|         30|
|5748527|     NEW|       MA|     GUZ|      M|10292016|     M|     UA|9.493828593E10|01215|      B2|       2|       1|               504|            245|2016|    4|     1972| 44|      1|  2016-04-30|    2016-05-02|        2016|           04|         30|
|5748528|     LOS|     null|     GUZ|      M|10292016|     M|     CM|9.501810463E10|00472|      B2|       2|       1|               504|            245|2016|    4|     1977| 39|      1|  2016-04-30|    2016-05-01|        2016|           04|         30|
|5748529|     WAS|       VA|     PNM|      M|10292016|     M|     CM|9.492489983E10|00488|      B2|       2|       1|               504|            245|2016|    4|     1978| 38|      1|  2016-04-30|    2016-05-22|        2016|           04|         30|
|5748530|     LOS|       CA|     PNM|      M|10292016|     F|     CM|9.492648103E10|00302|      B2|       2|       1|               504|            245|2016|    4|     1960| 56|      1|  2016-04-30|    2016-05-03|        2016|           04|         30|
|5748531|     LOS|       CA|     PNM|      M|10282016|     M|     CM|9.492629303E10|00302|      B2|       2|       1|               504|            245|2016|    4|     1978| 38|      1|  2016-04-30|    2016-05-03|        2016|           04|         30|
|5748532|     MIA|       FL|     PNM|      M|10292016|     F|     CM|9.500640513E10|00430|      B2|       2|       1|               504|            245|2016|    4|     1963| 53|      1|  2016-04-30|    2016-05-07|        2016|           04|         30|
|5748534|     SFR|       CA|     HNK|   null|10282016|     F|     CX|9.492476223E10|00872|      B2|       2|       1|               528|            245|2016|    4|     1932| 84|      1|  2016-04-30|          null|        2016|           04|         30|
|5748876|     HOU|       TX|     GUZ|      M|10292016|     M|     UA|9.499463063E10|05574|      B1|       1|       1|               582|            245|2016|    4|     1973| 43|      1|  2016-04-30|    2016-05-09|        2016|           04|         30|
|5748877|     HOU|       TX|     GUZ|      M|10292016|     F|     UA|9.499447663E10|05574|      B1|       1|       1|               582|            245|2016|    4|     1986| 30|      1|  2016-04-30|    2016-05-09|        2016|           04|         30|
|5748881|     LOS|       CA|     SHG|      M|10292016|     M|     AM|9.496770903E10|00646|      B2|       2|       1|               582|            245|2016|    4|     1982| 34|      1|  2016-04-30|    2016-05-01|        2016|           04|         30|
+-------+--------+---------+--------+-------+--------+------+-------+--------------+-----+--------+--------+--------+------------------+---------------+----+-----+---------+---+-------+------------+--------------+------------+-------------+-----------+
only showing top 20 rows

### Step 4: Run Pipelines to Model the Data 
Build the data pipelines to create the data model.

#### Configuration to write the Model

In [22]:
paths_write = {
    "demographics" : "./model/demographics.parquet",
    "airports" :  "./model/airports.parquet",
    "airlines" : "./model/airlines.parquet",
    "countries" : "./model/countries.parquet",
    "visa" : "./model/visa.parquet",
    "mode" : "./model/mode.parquet",
    "facts" : "./model/facts_inmigration.parquet"
}

In [23]:
model = Schema(spark, paths_write)

In [26]:
model.modelize(inmigrant_transformer, demog_transformer, airport_clean, airlines_clean, countries_clean, visa_clean, mode_clean)

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Checks:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Running Quality Checks

In [27]:
validator = Validator(spark, paths_write)

In [28]:
facts = validator.get_facts()

In [29]:
dim_demographics, dim_airports, dim_airlines, dim_countries, dim_get_visa, dim_get_mode = validator.get_dimensions()

#### Validate all dimensions have data

In [32]:
validator.exists_rows(dim_demographics)

True

In [33]:
validator.exists_rows(dim_airlines)

True

In [34]:
validator.exists_rows(dim_countries)

True

In [35]:
validator.exists_rows(dim_get_visa)

True

In [36]:
validator.exists_rows(dim_get_mode)

True

In [37]:
validator.exists_rows(facts)

True

#### Check consistency of the model

In [38]:
validator.check_integrity(facts, dim_demographics, dim_airports, dim_airlines, dim_countries, dim_get_visa, dim_get_mode)

True

#### 4.3 Data dictionary 

A brief description of the data model is mentioned in a separate file - *TableDescription*

### Step 5:Complete Project Write Up


* For this project I have used Apache Spark to do all the processing data and create the model. The reason for this is because Spark can scale a lot of data and the library spark.sql has many tools to transform data which are easy to implement.It can easily handle multiple file formats (SAS, csv, etc) that contain large amounts of data. Spark SQL was used to process the input files into dataframes and manipulated via standard SQL join operations to create the tables.The data persisted in parquet files in *model* folder can scale to losts of terabytes without any problems.

* The data should be updated every day. We can use Apache Airflow to ingest every day (arrival date) because fact table are partitioned by arrival date.


#### Scenarios
    Description of how to approach the problem differently under the following scenarios
* the data was increased by 100x
    - Though spark can handle the data if it's increased by 100x but for more analytical optimisation we do we have an option of loading data into amazon redhsift which is optimised for aggregating and read-heavy workloads.

* To update on a daily basis*
    - Using Airflow, create DAG retries or send emails on failures.
    - Have daily quality checks; if fail, send emails to operators and freeze dashboards

* If the data needs to be accessed by 100+ people*
    - we can use Hive, Spark sql template views or use Redshift since it has auto-scaling capabilities and good read performance.